.first-banner {
  background-color: pink;
}

body {
  background: white;
  color: red;
  text-align: center;
  h1 {
    text-align: center;
    border-bottom: solid 0.5px black;
  }
}

.cv-body ‹{
  width: 100%;
  position: absolute;
}
