<div class="container">
  <div class="navbar">
    <%= render "shared/navbar" %>
  </div>

  <div class="cv-body justify-content-center">
    <div class="first-banner">
      <div id="particles-js" class="banner">
        <div class="name-banner d-flex justify-content-center">
          Laura Person
        </div>
        <div class="job-banner d-flex justify-content-center">
          Freelance Web-Developer
        </div>
        </div>
      </div>
    </div>
    <div class="profile-banner">
      <div class="about">
        An anthropologist, a photographer, a web developer trained at Le Wagon.
      </div>
      <div class="skills">
        Ruby on Rails
      </div>
      <div class="projects">
        Sororitree
      </div>
    </div>
  </div>
</div>
