.first-banner {
  position: absolute;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.profile-banner {
  position: absolute;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.banner {
  background-color: white;
  background-position: center;
  background-size: cover;
  background-blend-mode: luminosity;
  height: 100vh;
  z-index: -1;
}
