
@media (max-width: 575px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 0px;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (min-width: 575px) {
  .container {
    display: flex;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
