$shadow:  0 7px 30px 0px rgba(150,170,180,0.5);


@media (min-width: 800px) {
.designs {
  min-height: 500px;
  height: 10vh;
  }
}


@media (max-width: 800px) {
  .designs {
    padding: 4%;
    margin-top: 10px;
    width: 100%;
    height: 10vh;
  }
}


.designs {
  padding: 4%;
  margin-top: 10px;
  width: 100%;
  z-index: -1;
  display: flex;
  }


.design-card {
  width: 50%;
  height: 50vh;

}

.design-title-card {
  margin-top: 10px;
}

.design-photo {
  width: 50%;
}


.design-img {
  width: 70%;
  background-repeat: no-repeat;
  z-index: -1;
}

.design-skills-card {
  box-shadow: $shadow;
  border-radius: 10px;
  font-family: $body-font;
  padding: 20px;
  margin: 15px;
  color: $darkgreen;
}
