
.profile-banner {
  position: absolute;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.banner {
  margin: 20px;
  background-color: white;
  background-position: center;
  background-size: cover;
  background-blend-mode: luminosity;
  height: 100vh;
  z-index: -1;
}

.name-banner {
  font-family: $header-font;
  font-style: bold;
  font-size: 70px;
  color: $darkgreen;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30vh;
}

.job-banner {
  font-family: $header-font;
  font-size: 50px;
  color: $darkgreen;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50vh;
}

@media (max-width: 768px) {
  .job-banner {
    top: 40vh;
  }
}