$shadow:  0 7px 30px 0px rgba(150,170,180,0.5);


@media(max-width: 800px) {
  .second-banner {
    padding: 4%;
    margin-top: 10px;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
  }
}

@media(min-width: 801px) {
  .second-banner {
    padding: 4%;
    margin-top: 10px;
    width: 100%;
    display: flex;
    z-index: -1;
  }
}

.about {
  width: 95%;
  color: $darkgreen;
  height: 100%;
  box-shadow: $shadow;
  margin-bottom: 10%;
  margin-right: 5%;
  border-radius: 10px;
  padding: 50px;
}

.title {
  font-family: $header-font;
  font-style: bold;
  font-size: 30px;
}


.about-me {
  font-size: 16px;
  font-family: $body-font;
  top:0px;

}

.profile-img {
  width: 500px;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.myphoto {
  width: 100%;
  background-image: url("profilepicture.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  box-shadow: $shadow;
  height: 100%;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}
