.title-teaching {
  color: black;
  font-size: 150px;
  position: relative;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  margin-top: -75px;
}

.title-teaching p {
  font-size: 15px;
  letter-spacing: 12px;
  opacity: .2;
}
